.header {
  background-color: $light__yellow;
  &__container {
    @include df-row-between-center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__link-logo {
  }

  &__logo-image {
  }
  &__mb-link-logo {
    display: none;
  }

  &__mb-logo-image {
  }

  &__nav {
  }

  &__list {
    @include df-row-center-center;
    gap: 25px;
  }

  &__lists {
  }

  &__links {
  }

  &__links-texts {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: $black;
  }

  &__button {
    cursor: pointer;
    font-family: "Montserrat";
    background-color: #232323;
    color: $light__yellow;
    padding: 12px 24px;
    @include df-row-center-center;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    transition: 200ms ease all;
    &:active {
      transition: 200ms ease all;
      opacity: 0.5;
    }
  }

  &__open-burger-button {
    display: none;
    outline: none;
    border: none;
    background: none;
  }

  &__open-burger-image {
    vertical-align: middle;
  }
}
@media (max-width: 1100px) {
  .header {
    background-color: $light__yellow;
    &__container {
      @include df-row-between-center;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    &__link-logo {
    }

    &__logo-image {
    }
    &__mb-link-logo {
      display: none;
    }

    &__mb-logo-image {
    }

    &__nav {
    }

    &__list {
      @include df-row-center-center;
      gap: 25px;
    }

    &__lists {
    }

    &__links {
    }

    &__links-texts {
      font-family: "Montserrat";
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      color: $black;
    }

    &__button {
      cursor: pointer;
      font-family: "Montserrat";
      background-color: #232323;
      color: $light__yellow;
      padding: 12px 24px;
      @include df-row-center-center;
      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
      transition: 200ms ease all;
      &:active {
        transition: 200ms ease all;
        opacity: 0.5;
      }
    }

    &__open-burger-button {
      display: none;
      outline: none;
      border: none;
      background: none;
    }

    &__open-burger-image {
      vertical-align: middle;
    }
  }
}
@media (max-width: 1024px) {
  .header {
    background-color: $light__yellow;
    &__container {
      @include df-row-between-center;
      padding: 30px 40px !important;
    }

    &__link-logo {
      display: none;
    }

    &__logo-image {
    }
    &__mb-link-logo {
      display: block;
    }

    &__mb-logo-image {
    }

    &__nav {
      display: none;
    }

    &__list {
    }

    &__lists {
    }

    &__links {
    }

    &__links-texts {
    }

    &__button {
      display: none;
    }

    &__open-burger-button {
      display: block;
      outline: none;
      border: none;
      background: none;
    }

    &__open-burger-image {
      vertical-align: middle;
    }
  }
}
@media (max-width: 767px) {
  .header {
    background-color: $light__yellow;
    &__container {
      @include df-row-between-center;
      padding: 20px 24px !important;
    }

    &__link-logo {
      display: none;
    }

    &__logo-image {
    }
    &__mb-link-logo {
    }

    &__mb-logo-image {
    }

    &__nav {
      display: none;
    }

    &__list {
    }

    &__lists {
    }

    &__links {
    }

    &__links-texts {
    }

    &__button {
      display: none;
    }

    &__open-burger-button {
      outline: none;
      border: none;
      background: none;
    }

    &__open-burger-image {
      vertical-align: middle;
    }
  }
}
