$white: #ffffff;
$black: #000000;
$dark__royal__blue: #1a367c;
$slate__grayish__blue: #4d566a;
$almost__white__gray: #f6f6f7;
$steel__gray__blue: #dee2e9;
$soft__neutral__gray: #e1e4e8;
$dark__gray: #868686;
$light__gray: #ededed;
$light__yellow: #f4c551;
$dark__cyan: #383838;
$second__dark__cyan: #232323;
